.locations-container {
  margin-left: 16px;
  width: calc(100vw - 32px);
}
.locations-keys {
  display: none;
}
.locations-title {
  font-size: 24px;
  line-height: 32px;
  font-family: "avenir-bold";
  margin-bottom: 16px;
}
.locations-content {
  border-bottom: 1px solid #e1e1e1;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}
.warehouse-object1 {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir-demi-bold";
}

.warehouse-object2,
.contact-object,
.contact-info__object,
.category-object {
  font-size: 13px;
  line-height: 18px;
  font-family: "avenir";
  margin-bottom: 16px;
}
.contact-object,
.contact-info__object {
  width: 50vw;
}

.header-input {
  width: 252px;
  height: 48px;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  border-left: none;
}
.location {
  width: calc(100vw - 32px);
  margin: $center;

  &-row {
    border-bottom: 1px solid $mercury;
    position: relative;
    margin-top: 32px;
    display: flex;
    flex-direction: column;

    &__remove {
      position: absolute;
      right: 0;
      height: 72px;
      width: 161px;
      display: flex;
      flex-direction: row-reverse;

      &-button {
        height: 24px;
        margin-right: 8px;
      }
    }
  }
}

@include medium {
  .locations-div {
    display: flex;
    justify-content: space-between;
  }
  .contact-container {
    display: flex;
  }
  .contact-object {
    width: 20vw;
  }
  .contact-info__object {
    width: 30vw;
    margin-left: 10vw;
  }
  .warehouse-container {
    width: 45vw;
  }
  .category-object {
    width: 31vw;
  }
  .locations-container {
    margin-left: 24px;
    width: calc(100vw - 48px);
  }
  .location-row__remove {
    margin-right: 3vw;
  }
  .locations-title {
    font-size: 36px;
  }
}

@include large {
  .locations-keys {
    width: calc(100vw - 250px);

    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    line-height: 20px;
    font-family: "avenir-demi-bold";
    text-transform: uppercase;
    color: #afafaf;
  }
  .content-container {
    display: none;
  }
  .locations-content {
    display: flex;
    flex-direction: row;
  }

  .category-object {
    width: 20vw;
    margin-left: 5vw;
  }
  .contact-info__object {
    width: 10vw;
    margin-left: 0px;
    margin-right: 4vw;
  }
  .contact-object {
    width: 10vw;
    margin-right: 3vw;
  }
  .locations-container {
    margin-left: 180px;
    width: calc(100vw - 360px);
  }
  .locations-keys__categories {
    margin-right: 13.5vw;
  }
  //   .locations-keys__warehouse {
  //     padding-right: 30vw;
  //   }
  .location-row__remove {
    margin-right: 12vw;
  }
  .locations-large {
    margin-top: 3vh;
  }
  .locations-title {
    font-size: 36px;
  }
}
