* {
  margin: 0;
  padding: 0;
}

.inventory-keys {
  display: none;
}

.table {
  width: calc(100vw - 32px);
  margin: $center;

  &-row {
    border-bottom: 1px solid $mercury;
    position: relative;
    margin-top: 32px;
    display: flex;
    flex-direction: column;

    &__content {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      &--key {
        margin-bottom: 16px;
        @include labels;
      }
      &--bold {
        @include mobile-subheader;
        margin-bottom: 16px;
      }
      &--value {
        @include mobile-paragraph-lists;
      }
    }

    &__remove {
      // position: absolute;
      // float: right;
      z-index: 5;
      right: 0px;
      height: 72px;
      width: 161px;
      display: flex;
      flex-direction: row-reverse;

      &-button {
        height: 24px;
        margin-right: 8px;
      }
      &-div {
        width: 161px;
        height: 44px;
        border: 1px solid $mercury;
        border-radius: 4px;
        position: absolute;
        top: 28px;
        margin-right: 8px;
        padding: 10px 0 0 12px;
        @include paragraphs;
        z-index: 15;
        background-color: white;
      }
    }
  }
}

@include medium {
  .inventory-keys {
    width: calc(100vw - 48px);
    margin: $center;
    display: flex;
    justify-content: space-between;
    &__content {
      width: 100px;
      @include labels;
    }

    :first-child {
      width: 224px;
    }
  }

  .table {
    width: calc(100vw - 48px);

    //Issue with the padding: mockup says the row height should be 100px and padding 24px but those dimensions don't
    //display as they appear on the screen. Group decision??
    &-row {
      margin-top: unset;
      position: relative;
      padding: 24px 0;
      height: 100px;
      flex-direction: row;
      justify-content: space-between;

      &__content {
        align-items: space-between;
        justify-content: center;
        margin-bottom: unset;
        width: 100px;

        &--key {
          display: none;
        }

        &--bold,
        &--value {
          margin-bottom: unset;
          @include paragraphs;
        }

        &--bold {
          @include subheader;
        }

        //Setting a larger width for this single flex item in the row
        // :first-child {
        //   width: 224px;
        // }
      }
      &__content:first-child {
        width: 224px;
      }

      &__remove {
        top: 36px;
        &-button {
          height: 24px;
        }
      }
    }
  }
}

@include large {
  .inventory-keys {
    width: calc(100vw - 360px);
    justify-content: space-between;
  }

  .table {
    width: calc(100vw - 360px);

    &-row {
      justify-content: space-between;
    }
  }
}
