* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: inherit;
}

@import "./partials/variables";
@import "./partials/breakpoints";
@import "./partials/russellfonts";
@import "./partials/product-table";
@import "./partials/create-new-form";
@import "./partials/inventory";
@import "./partials/locations";
@import "./partials/product-information";
